@import 'src/assets/styles/graphic-chart.scss';

form {
  // background-color: green;
  // border: solid 1px red;
}
.btn-activ-state {
  width: 20px;
  height: 20px;
  color: $blue;
}
app-player-table-frame {
  width: 190px;
  height: 110px;
  position: absolute;
  z-index: 6;
}
