@import 'src/assets/styles/graphic-chart.scss';

$error-color: #451616;

#body {
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &.error {
    background-color: #cdbfbf;
    border: solid 2px $error-color;
  }
  &.noError {
    background-color: #d5d5d5;
    border: solid 2px white;
  }
  .error-msg {
    color: $error-color;
    font-size: 0.75rem;
    font-weight: 500;
  }
}
#error-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#split-outs {
  margin-bottom: 1.25rem;
}
#split {
  h1,
  h4 {
    color: $grey-msg;
  }
  h1 {
    font-weight: 700;
    text-align: center;
  }
  h4 {
    font-weight: 500;
  }
  p {
    margin-bottom: 0.15rem;
  }
}
#submit-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  #submit-btn {
    margin: 0.1rem auto;
    &:disabled {
      color: $error-color;
    }
  }
  em {
    font-size: 0.8rem;
  }
}
hr {
  color: $error-color;
  margin: 0.5rem 0;
}
.success-msg {
  font-weight: 500;
  color: $grey-msg;
}
#pending-body {
  width: 100%;
  display: flex;
  margin-top: 3rem;
  object {
    margin: auto;
    width: 4rem;
    height: 4rem;
  }
  svg {
    color: white;
  }
}
