<div id="body" class="fill" [ngClass]="{ error: this.parentFormGroup.invalid, noError: this.parentFormGroup.valid }">
  @switch(tplDisplateSig()){ @case ('userError'){
  <div id="error-body" *ngLet="duplicatedCardsSig() as duplicatedCards">
    @if(duplicatedCards?.length){
    <span class="error-msg">- Certaines cartes sont en double : </span>
    <div class="card-list">
      @for(card of duplicatedCards; track card.id){
      <app-card-rd [card]="card"></app-card-rd>
      }
    </div>
    } @for(error of missingCardsMsgSig() | keyvalue; track error.key){
    <span class="error-msg">- {{ error.value }}</span>
    }
  </div>
  } @case ('noError'){
  <span class="success-msg">Aucune erreur n'est présente, le calcul peut s'effectuer.</span>} @case ('pending'){
  <div id="pending-body">
    <object type="image/svg+xml" data="assets/svg/display/spinner-white.svg"></object>
  </div>
  } @case ('computationError'){<span class="error-msg"> Une erreur serveur est survenue </span>
  } @case ('submit'){
  <div id="split" *ngLet="computationCallbackSig() as compute">
    <h4 class="mb-1">Partage :</h4>
    <h1>{{ compute?.split?.statPerc }}</h1>

    @if(compute?.split?.outs?.length){
    <div id="split-outs">
      <p>Carte(s) requise(s) :</p>
      <out-list [outsSig]="compute?.split?.outs ?? []" [maxCardsDisplayed]="9"> </out-list>
    </div>
    }
    <em> {{ compute?.combinationsNbToString }} combinaisons calculées en {{ compute?.secondary?.computationTime }} sec</em>
  </div>
  } }
  <div id="submit-body">
    <hr />
    <button id="submit-btn" type="submit" [disabled]="this.parentFormGroup.invalid || tplDisplateSig() === 'pending'" mat-raised-button>
      Calculer
    </button>
  </div>
</div>
