form {
  background-color: white;
  position: relative;
  padding: 0.35rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
}
section {
  display: flex;
  justify-content: center;
}
app-card {
  &:last-child {
    margin-left: 0.5rem;
  }
}
