<header class="w-100" [style.height.px]="headerHeight">Pokerstats</header>
<div id="body" class="d-flex w-100">
  <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex">
    <div class="width-fill-a">
      <app-players-form />
    </div>
    <section id="column-annex" class="ml-2 h-100 d-flex" [style.paddingTop.px]="headerHeight">
      <app-directions class="mb-2" />
      <app-submit-form />
    </section>
  </form>
</div>
<footer class="w-100">
  <span class="mr-4">Réalisé par Guillaume Chafiol</span>
  <a (click)="link()">Linkedin</a>
</footer>
