#body {
  position: relative;
}
.form-colomn {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
app-player {
  flex: 1;
}
app-table {
  position: relative;
}
